.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  max-width: 440px;
  margin: 0 auto;
}

.buttons {
  margin-top: 24px;
  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}
