.imageGridOverlay {
  grid-area: 1 / 1 / -1 / -1;
  background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, rgba(1, 1, 1, 1) 100%);
}

.back {
  composes: unstyled from '../../../../shared/buttons.module.css';
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 39.2px;
  color: white;
}

.checklistItem {
  display: flex;
  flex-wrap: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.checklistText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20.4px;
  color: #eaeaeb;
}

.sequenceItem {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sequenceIcon {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 19px;
  line-height: 20.4px;
  color: #eaeaeb;
}

.sequenceText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sequenceTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.4px;
  color: #eaeaeb;
}
.sequenceBody {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c8cdd0;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.offers2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.offers2 > * {
  flex-basis: calc(50% - 6px);
}

.offer {
  border: 1px solid #eaeaeb;
  cursor: pointer;
  outline: none;
  appearance: none;

  border-radius: 10px;
  padding: 12px 24px;
  background: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offerActive {
  background: #eaeaeb;
}

.offerPrice {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #eaeaeb;
}

.offerActive .offerPrice {
  color: #191c1d;
}

.offerFrequency {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.15px;
  color: #c8cdd0;
}

.offerActive .offerFrequency {
  color: #383838;
}

.oneOfferWithTrialInfo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  color: #eaeaeb;
}

.disclaimer {
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.disclaimerTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #c8cdd0;
}

.disclaimerBody,
.disclaimerTerms {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #c8cdd0;
}

.disclaimerTerms {
  text-decoration: underline;
}
