.iconLink {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/link.svg');
}

.mono {
  font-family: 'Roboto Mono', monospace;
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
}
