.container {
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(180deg, #14191c 0%, #010101 100%);
}

.contentContainer {
  position: relative;
  grid-area: 1 / 1 / 1 / 1;
  padding-top: 24px;
}

.bottomNav {
  position: fixed;
  width: 100%;
  bottom: 0;
}
