.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.content {
  width: 100%;
  max-width: 440px;
  max-height: 844px;
  padding: 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  text-decoration: none;
}

.profilePictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  width: 48px;
  height: 48px;
  margin-right: 19px;
  background: rgba(255, 255, 255, 0.82);
}

.subtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.15px;
  color: #f2f2f3;
  margin-top: 6px;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: #ffffff;
  margin-top: 8px;
}

.playContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton {
  composes: unstyled from '../../shared/buttons.module.css';
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.playIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 50px;
  height: 50px;
  background-image: url('./icons/play.svg');
}

.body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  color: #eaf0ff;
  margin-bottom: 12px;
}

.instructor {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
  color: rgba(245, 245, 245, 0.7);
  margin-bottom: 16px;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.15px;
  max-width: 225px;
  color: #f2f2f3;
  margin-bottom: 32px;
}

.dots {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.dots > *:not(:first-child) {
  margin-left: 12px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #446266;
}

.dotSelected {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #d9d9d9;
}

@media screen and (max-height: 843px) {
  .dots:last-child {
    margin-bottom: 22px;
  }
}
