.container {
  background: #191c1d;
  min-height: 100vh; /* swapped to inner height in js */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.close {
  composes: unstyled from '../../shared/buttons.module.css';
}

.closeIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('./icons/close.svg');
}

.innerContainer {
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.headerLink {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  max-width: 438px;
  width: 100%;
  padding: 24px 0 0 26px;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.headerProfileOuterContainer {
  padding: 4px;
  margin-right: 15px;
}

.headerProfileContainer {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.82);
}

.subheader {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #c8cdd0;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: white;
}

.journeyCarouselContainer {
  overflow-x: hidden;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.journeyCarousel {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;

  transition: transform 0.35s ease-in-out;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.journeyCarouselDragging {
  transition: transform 0.1s ease-out;
}

.journeyContainer {
  composes: unstyled from '../../shared/buttons.module.css';
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.35s ease-in-out;
  position: relative;
  text-decoration: none;
}

.journeyImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.journeyCategoryContainer {
  position: absolute;
  left: 16px;
  top: 20px;
}

.journeyCategory {
  display: inline-block;
  background: #708f94;
  border-radius: 30px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: #ffffff;
  padding: 3px 13.5px;
}

.journeyLockedContainer {
  position: absolute;
  top: 22px;
  right: 16px;
  filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.5));
}

.lockIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 19px;
  height: 21px;
  background-image: url('./icons/lock.svg');
}

.journeyInfoContainer {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 20px;
}

.journeyTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #f2f2f3;
}

.journeyInstructor {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.15px;
  line-height: 22px;
  text-align: center;
  color: #f2f2f3;
  margin-bottom: 23.5px;
}

.journeyDescription {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #f2f2f3;
  text-align: center;
}

.chooseForMeContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
}

.chooseForMeButton {
  composes: unstyled from '../../shared/buttons.module.css';
  text-decoration: none;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  background: #446266;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  max-width: 360px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}

.upgradeLink {
  composes: unstyled from '../../shared/buttons.module.css';
  text-decoration: none;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  background: none;
  box-shadow: none;
  border: 2px solid white;
  border-radius: 100px;
  max-width: 360px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
