.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.close {
  composes: unstyled from '../../shared/buttons.module.css';
}

.closeIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('./icons/close.svg');
}

.currentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nextContainer {
  width: 100%;
}

.teachingSwipe {
  animation: teachSwipe 2s ease-in-out infinite;
}

@keyframes teachSwipe {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(10vw);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0px);
  }
}
