.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.currentContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.nextContainer {
  width: 100%;
}
