.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.select {
  composes: sortSelect from '../crud/standard.module.css';
}

.checks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
