.top {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  border-radius: 10px;
}
