/* #region icons */
.iconDashboard {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/dashboard.svg');
}

.iconContent {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/content.svg');
}

.iconDebugJourney {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/debug-journey.svg');
}

.iconInstructors {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/instructors.svg');
}

.iconJourneys {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/journeys.svg');
}

.iconJourneySubcategories {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/journey-subcategories.svg');
}

.iconIntroductoryJourneys {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/plane.svg');
}

.iconVIPChatRequests {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/vip-chat-requests.svg');
}

.iconUsers {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/users.svg');
}

.iconNotifications {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/notifications.svg');
}

.iconSMS {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./icons/sms.svg');
}
/* #endregion */

.outerContainer {
  background: #446266;
  width: 248px;
  flex: 0 0 auto;
  min-height: calc(100vh - 102px);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (prefers-reduced-motion) {
  .collapsed {
    display: none;
  }

  .container {
    width: calc(100% - 23px);
  }
}

@media not (prefers-reduced-motion) {
  .outerContainer {
    transition: width 0.3s ease-in-out;
    overflow-x: hidden;
  }

  .container {
    width: 225px;
  }
  .collapsed {
    width: 0;
  }
}

.container {
  padding-top: 28px;
  margin: 0 3px 0 20px;
  min-height: calc(100vh - 102px);
  padding-bottom: 37px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userCardContainer {
  margin-right: 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.userCardInfoContainer {
  display: flex;
  flex-direction: column;
}

.userCardName {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: white;
  white-space: nowrap;
  max-width: /* 208 - 60 - 8 - 8 */ 132px;
  overflow-x: scroll;
}

.userCardName::-webkit-scrollbar {
  display: none;
}

.userCardPictureContainer {
  padding: 0;
  margin: 0;
}

.userCardRole {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: white;
  opacity: 50%;
  margin-top: -4px;
}
