.card {
  min-height: 293px;
  margin-left: auto;
  margin-right: auto;
  background: #191c1d;
  border: 1px solid #232323;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-align: left;
}

.dateTimeText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.8px;
  color: #8b8e90;
}

.abridgedBody {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c8cdd0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  padding: 0;
}

.tag {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}
