.container {
  display: grid;
  width: 342px;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
}

.background img {
  border-radius: 10px;
}

.foreground {
  grid-area: 1 / 1 / 1 / 1;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.foregroundInner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  padding: 12px;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
}

.deleted .title {
  text-decoration: line-through;
}

.headerRight {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.headerRight > *:not(:first-child) {
  margin-left: 8px;
}

.views {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #c8cdd0;
}

.duration {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #eaeaeb;
  padding: 2px 4px;
  background: #191c1d80;
  border-radius: 4px;
}

.subheader {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;
}

.instructor {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.instructorImage {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructorImage img {
  border-radius: 50%;
}

.instructorName {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c8cdd0;
}

.feedback {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.feedbackCount {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #eaeaeb;
}
