.container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 100%;
}

.journeyIconContainer {
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journeyByContainer {
  margin: 0 0.5em 0 0.25em;
}

.journeyInstructorContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.journeyInstructorIconContainer {
  margin-right: 0.5em;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.journeyViewsContainer {
  margin-left: 0.25em;
}

.journeyViewsContainer::before {
  content: '(';
}

.journeyViewsContainer::after {
  content: ')';
}

.right {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.rightRow {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.deletedNote {
  font-size: 12px;
  line-height: 12px;
  color: #666060;
  font-style: italic;
}
