.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.itemContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
