.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.scrollWrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex: 0 1 auto;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrolls::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.scrolls::-webkit-scrollbar-thumb {
  display: none;
}
