.header {
  display: grid;
  grid-template: 1fr / 1fr auto 1fr;
  background: #191c1d;
  border-bottom: 1px solid #232323;
  justify-content: flex-start;
  align-items: center;
  pointer-events: all;
}

.headerText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #eaeaeb;
}

.backWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
