.item {
  width: 100%;
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
