.container > div > div {
  /* fixes cutoff, improper centering */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container svg {
  /* fixes blurry image: https://stackoverflow.com/questions/72404034/chrome-shows-lottie-animation-blurry */
  transform: unset !important;
}
