.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.content {
  position: relative;
  width: 100%;
  max-width: 309px;
  padding-top: 20px;
  background: #eaeaeb;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  color: #191c1d;
  padding: 0 20px;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #191c1d;
  padding: 0 16px;
  margin-top: 11px;
}

.buttons {
  margin-top: 24px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  padding: 0 20px 20px 20px;
  gap: 12px;
}

.button {
  composes: unstyled from '../buttons.module.css';
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  border: 1px solid #191c1d;
  color: #191c1d;
  border-radius: 100px;
  padding: 6px 12px;
  flex-grow: 1;
}

.button:hover {
  background: rgba(0, 0, 0, 0.25);
}

.emphasizeButton:active {
  background: #3f484a;
}

.button:disabled,
.disabled {
  color: #c8cdd0;
  cursor: not-allowed;
}

.executing {
  cursor: wait;
}

.spinnerContainer {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emphasizeButton {
  border: 1px solid #191c1d;
  background: #191c1d;
  color: #eaeaeb;
}
