.container {
  display: grid;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(0deg, #010101 0%, #273136 37%, #2d2e2e 100%);
}

.contentContainer {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerWithNavbar .contentContainer {
  padding-bottom: 80px;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  right: 16px;
}

.closeIcon {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('../pickEmotionJourney/icons/close.svg');
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 24px 24px 24px;
  max-width: 390px;
}

.sections > *:not(:first-child) {
  margin-top: 24px;
}

.footer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wordmark {
  composes: icon from '../../../../shared/icons.module.css';
  width: 98px;
  height: 24px;
  background-image: url('../../../../assets/Oseh_Wordmark_White.svg');
}

.version {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #c8cdd0;
  margin-top: 16px;
}

.bottomNav {
  position: fixed;
  width: 100%;
  bottom: 0;
}
