.container {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.picturesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.pictureContainer {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  background: linear-gradient(to bottom right, #c9d6d6, #c5cfd0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pictureContainer:not(:first-child) {
  margin-left: -6px;
}

.bonusUsersContainer {
  margin-left: -6px;
  height: 38px;
  padding-left: 13px;
  padding-right: 16px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.bonusUsersText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
}
