.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  height: 54vh;
  max-height: 568px;
}

@media screen and (min-height: 876px) {
  .container {
    height: 560px;
  }
}

.promptText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: white;
  width: 100%;
  padding-top: 40px;
}

.carouselContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  overflow-x: hidden;
}

.carouselItemsContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  transition: transform 0.35s ease-in-out;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.carouselItemsContainerDragging {
  transition: transform 0.1s ease-out;
}

.carouselItem {
  composes: unstyled from '../../../shared/buttons.module.css';
  position: relative;
  width: 75px;
  height: 75px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;

  border-radius: 50%;
  overflow: hidden;
  opacity: 40%;
  transition: opacity 0.35s ease;
}

.activeCarouselItem {
  opacity: 100%;
}

.carouselItem:not(:last-child) {
  margin-right: 20px;
}

.carouselItemOption {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  background: rgba(255, 255, 255, 0.5);
  border: 2px solid white;
  border-radius: 50%;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  color: #191c1d;
}

.carouselVBar {
  width: 100%;
  background: white;
  transition: height 0.35s ease;
}

.overallStatsContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: white;
  padding-bottom: 60px;
}

@media screen and (max-height: 724px) {
  .promptText {
    padding-top: 0;
  }

  .overallStatsContainer {
    padding-bottom: 0;
  }
}
