.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 54vh;
  max-height: 568px;
}

.prompt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
  padding-top: 40px;
}

.buttonContainer {
  width: 100%;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
}

.button {
  composes: unstyled from '../../../shared/buttons.module.css';
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.stats {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: white;
  padding-bottom: 60px;
}

.ripple {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rippleContainer {
  position: relative;
}

.ripples {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    rgba(68, 98, 102, 0) 0,
    rgba(68, 98, 102, 0) 130px,
    rgba(68, 98, 102, 0.5) 100%
  );
  border: 2px solid rgb(68, 98, 102);
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
}

.ripple-1 {
  animation: 3s infinite ripple-out-weak;
}

.ripple-2 {
  animation: 3s infinite ripple-out-weak 1.5s;
}

.rippleContainer-strong .ripple-1 {
  animation-name: ripple-out-strong;
}

.rippleContainer-strong .ripple-2 {
  animation-name: ripple-out-strong;
  animation-delay: 0.375s;
}

.ripple-3 {
  animation: 3s infinite ripple-out-strong 0.75s;
}

.ripple-4 {
  animation: 3s infinite ripple-out-strong 1.125s;
}

.ripple-5 {
  animation: 3s infinite ripple-out-strong 1.5s;
}

.ripple-6 {
  animation: 3s infinite ripple-out-strong 1.875s;
}

.ripple-7 {
  animation: 3s infinite ripple-out-strong 2.25s;
}

.ripple-8 {
  animation: 3s infinite ripple-out-strong 2.625s;
}

@keyframes ripple-out-weak {
  from {
    transform: scale(1);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  to {
    transform: scale(1.3);
    opacity: 0;
  }
}

@keyframes ripple-out-strong {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (max-height: 724px) {
  .container {
    height: 225px;
    margin-bottom: 24px;
  }

  .buttonContainer {
    height: unset;
    flex: 1 1 192px;
  }

  .prompt {
    padding-top: 0;
  }

  .stats {
    padding-bottom: 0;
  }
}
