.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.promptSubtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.25px;
  text-align: center;
  color: white;
  margin-bottom: 13px;
}

.prompt {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 100%;
  color: white;
}

.wordsContainer {
  width: 100%;
  height: 226px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 0 24px;
}

.wordRow {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  max-height: 54px;
}

.wordRow:not(:first-child) {
  margin-top: 32px;
}

.word {
  composes: unstyled from '../../../shared/buttons.module.css';
  flex-basis: 100%;
  flex-grow: 1;
  border-radius: 10px;
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.wordInput {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 3;
  border-radius: 10px;
  background: rgba(68, 98, 102, 0.4);
}

.wordText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.wordInner {
  height: 100%;
  background: rgba(68, 98, 102, 0.9);
  transition: width 0.35s ease-in-out;
}

.word:not(:first-child) {
  margin-left: 32px;
}

.wordCheck {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid white;
  transition: background-color 0.35s ease-in-out;
  background: transparent;
  margin-left: 15px;
  margin-right: 16px;
}

.wordActive .wordCheck {
  background: white;
  border: none;
}

.checked {
  composes: icon from '../../../shared/icons.module.css';
  background-image: url('../icons/checked.svg');
  width: 16px;
  height: 16px;
}
