.totalMembers {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/total-members.svg');
}

.totalViews {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/total-views.svg');
}

.totalInstructors {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/total-instructors.svg');
}

.totalJourneys {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/total-journeys.svg');
}

.more {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/more.svg');
}

.checkboxChecked {
  composes: icon from '../../shared/icons.module.css';
  width: 16px;
  height: 16px;
  background-image: url('./icons/checkbox-checked.svg');
}

.checkboxUnchecked {
  composes: icon from '../../shared/icons.module.css';
  width: 16px;
  height: 16px;
  background-image: url('./icons/checkbox-unchecked.svg');
}

.anyNotificationIcon {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/reminders.svg');
}

.pushNotificationIcon {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/push.svg');
  width: 32px;
  height: 32px;
  margin-left: 4px;
  margin-bottom: 4px;
}

.smsNotificationIcon {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/sms.svg');
  width: 32px;
  height: 32px;
  margin-left: 2px;
}

.emailNotificationIcon {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/email.svg');
  width: 32px;
  height: 32px;
}
