.instructorContainer {
  margin-top: 8px;
  display: flex;
  flex-flow: row wrap;
  gap: 20px;
  align-items: center;
}

.instructorPictureContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
