.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editPictureContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 24px;
}

.picturesContainer {
  display: flex;
  gap: 10px;
}

.circlePictureContainer {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
}

.deletedAtContainer {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: #b6a792;
  margin-top: 20px;
}

.deletedAtContainer > * {
  margin: 0 !important;
  padding: 0;
}
