.header {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28.6px;
  color: #eaeaeb;
}

.body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c8cdd0;
}

.messageEvenContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.messageOddContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 260px;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
  background-color: #0d1012;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border: 0.333333px solid #6c7494;
}
