.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.closeIcon {
  composes: icon from '../../../shared/icons.module.css';
  background-image: url('../icons/close.svg');
}

.content {
  display: flex;
  flex-direction: column;

  max-width: 390px;
  margin: 0 auto;
  width: 100%;
  padding: 0 32px;
}

.profile {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 32px;
  margin-bottom: 36px;
}

.profilePictureContainer {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 12px;
}

.profilePictureContainer:empty {
  display: none;
}

.profileName {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  color: #eaf0ff;
}

.tabs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tab:not(:first-child) {
  margin-left: 40px;
}

.tab:not(.activeTab) {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  color: rgba(234, 240, 255, 0.5);
}

.tab {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.activeTab {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 6px;
  border-bottom: 1px solid #f9f9f9;
  color: #f9f9f9;
}

.tabContent {
  margin-top: 24px;
}

.empty {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 17px 34px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
