.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
}

.select {
  composes: sortSelect from '../../../crud/standard.module.css';
}
