.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #eaeaeb;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #c8cdd0;
}

.backWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
