.table {
  border-collapse: collapse;
  margin: 8px 0 25px 0;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  background-color: rgba(23, 23, 23, 0.05);
}

.table thead tr {
  background-color: #446266;
  color: #ffffff;
  text-align: left;
}

.table th,
.table td {
  padding: 12px 15px;
}

.table tbody tr {
  border-bottom: 1px solid #dbd7d7;
}

.table tbody tr:nth-of-type(even) {
  background-color: #f2f2f3;
}

.table tbody tr:last-of-type {
  border-bottom: 2px solid #446266;
}

.table tbody tr.active-row {
  font-weight: bold;
  color: #446266;
}

.table tbody tr {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.table:not(.dragging) tbody tr:hover {
  background-color: rgba(23, 23, 23, 0.1);
}

.table.dragging tbody tr.dragging {
  background-color: rgba(255, 191, 0, 0.5);
}

.table.dragging tbody tr.dragging:nth-of-type(even) {
  background-color: rgba(255, 204, 51, 0.5);
}
