.edited {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  color: #232323;
}

.formItemTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.15px;
  color: #232323;
  margin-bottom: 13px;
}

.formItemInput {
  outline: none;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #232323;
  background-color: transparent;
  padding: 0;
  border-width: 8px;
  border-style: solid;
  border-color: transparent;
  border-left-width: 0px;
  border-right-width: 12px;
  border-radius: 5px;
  margin: 0;
  color-scheme: light;
}

.help {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #383838;
  max-width: 30em;
  margin-top: 4px;
  margin-bottom: 8px;
}

.dates {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.datesTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #232323;
  margin-top: 8px;
}

.datesList:empty::after {
  content: 'No dates added';
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #383838;
}

.date {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: center;
}

.dateValue {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  color: #232323;
}

.dateAdd {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: flex-start;
  align-items: baseline;
}

.dateAdd input {
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin-top: 8px;
}
