.container {
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(0deg, #010101 0%, #14191c 100%);
}

.foreground {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template: 1fr / 1fr min(100%, 438px) 1fr;
}

.content {
  grid-area: 1 / 2 / 1 / 2;
  padding: 24px;
  display: grid;
  grid-template: 1fr / 1fr;
}

.form {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.contentSpacer {
  flex-basis: 0;
  flex-grow: 1;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #eaeaeb;
  text-align: center;
}

.form > *:not(:last-child) {
  margin-bottom: 16px;
}
