.questionError {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.4px;
  color: #ebadad;
}

.question {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.4px;
  color: #eaeaeb;
}

.spinner {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.done {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.buttonInner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.responseText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #eaeaeb;
}

.responseText::placeholder {
  color: #8b8e90;
}
