.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.content {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.meta {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 8px;
}

.meta:empty {
  display: none;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #232323;
}

.description {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
  color: #383838;
}
