.container {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(7, 120px);
  grid-auto-rows: 125px;
}

.item,
.itemGrayed {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #171717;
  border-top: 1px solid #171717;
}

/* penultimate last week bottom border applies instead of ultimate week top border */
.item:nth-last-child(-n + 14):not(:nth-last-child(-n + 7)),
.itemGrayed:nth-last-child(-n + 14):not(:nth-last-child(-n + 7)) {
  border-bottom: 1px solid #171717;
}

/* last 7 has a bottom border, swaps top border with penultimate, swaps right border with left */
.item:nth-last-child(-n + 7),
.itemGrayed:nth-last-child(-n + 7) {
  border-bottom: 1px solid #171717;
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: 1px 0 0 #171717;
}

/* seventh from the last has a left border too */
.item:nth-last-child(7),
.itemGrayed:nth-last-child(7) {
  border-left: 1px solid #171717;
}

/* every 7th */
.item:nth-child(7n),
.itemGrayed:nth-child(7n) {
  border-right: 1px solid #171717;
}

/* last one */
.item:last-child,
.itemGrayed:last-child {
  box-shadow: none;
}

.itemGrayed {
  opacity: 38%;
}

.firstRowHeader {
  font-family: 'Open Sans', sans-serif;
  font-size: 15x;
  line-height: 24px;
  letter-spacing: 0.25px;
  font-weight: 600;
  padding-top: 8px;
}

.header {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.25px;
  font-weight: 600;
  padding-bottom: 8px;
}

.item:not(.firstRowItem) .header,
.itemGrayed:not(.firstRowItem) .header {
  padding-top: 8px;
}
