.loadingContainer {
  text-align: center;
  width: 100%;
}

.loadingText {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.25px;
  font-weight: 500;
  opacity: 38%;
}

.errorContainer {
  margin-bottom: 20px;
}
