.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  max-width: 768px;
  padding: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
}

.description p {
  margin-bottom: 24px;
}

.description ul,
.description ol {
  margin-left: 1.5em;
  margin-bottom: 24px;
}

.fileInputContainer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
}

.progressesContainer {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: center;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.progressItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.progressItem:not(:first-child) {
  margin-top: 24px;
  padding-top: 24px;
  border-top: 1px solid #3a3a3b;
}

.progressItemJobName {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #eaeaeb;
}

.progressContainerNoIndicator {
  padding-bottom: 72px;
}

.progressMessage {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 20.4px;
  color: #eaeaeb;
}

.progressBarContainer {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
