.inviteTextURL {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.inviteUpsellText {
  margin-top: 24px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.inviteUpsellLink {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
