.container {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.buttonInner {
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background > *,
.background img {
  border-radius: 10px;
}

.content {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoFallback {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: 400;
  color: #eaeaeb;
  padding: 0 16px;
  text-align: center;
}

.instructor {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #eaeaeb;
  margin-top: 4px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
