.container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.transcript {
  composes: unstyled from '../../buttons.module.css';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 12px;
}

.transcriptPhrase {
  color: #eaeaeb;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  padding: 3px;
  border-radius: 3px;
  background: rgba(25, 28, 29, 0.5);
}
