.container {
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.transcript {
  composes: unstyled from '../../buttons.module.css';
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.transcriptUnavailable {
  color: #8b8e90;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px;
}

.transcriptPhrase {
  color: #eaeaeb;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
}
