.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #383838;
  border-radius: 28px;
  background: #191c1d;
  padding: 0;
  min-height: 60px;
  flex-grow: 1;
}
