.top {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #eaeaeb;
}

.header {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #eaeaeb;
}

.message {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c8cdd0;
}

.message a {
  color: #eaeaeb;
  font-weight: 600;
}

.message a:visited {
  color: #eaeaeb;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
