.container {
  display: grid;
}

.imageContainer {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  padding: 24px;
  max-width: 390px;
}

.logoAndInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.logoContainer {
  margin-bottom: 32px;
}

.logo {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('../../assets/Oseh_Wordmark_White.svg');
  width: 163px;
  height: 40px;
}

.info {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  color: white;
  margin: 0 24px;
}

.signinsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.signinsContainer > *:not(:last-child) {
  margin-bottom: 20px;
}

.iconAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signInWithGoogleIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 18px;
  height: 19px;
  background-image: url('./icons/google.svg');
  margin-right: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.signInWithAppleIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 18px;
  height: 19px;
  background-image: url('./icons/apple.svg');
  margin-right: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.signInWithEmailIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 20px;
  height: 18px;
  background-image: url('./icons/email.svg');
  margin-right: 12px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.signinModal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9001;
  width: 100%;
  background: linear-gradient(0deg, #000000 0%, #191c1d 37%, #191c1d 100%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.signinModalInner {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 342px;
  max-height: 700px;
}

.signinModalTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: white;
  margin-bottom: 24px;
}

.signinModalForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.signinModalForm > *:not(:last-child) {
  margin-bottom: 80px;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.closeIcon {
  composes: icon from '../../shared/icons.module.css';
  background-image: url('./icons/close.svg');
}

@media screen and (max-width: 449px) {
  .primaryContainer {
    justify-content: flex-end;
    padding-bottom: 40px;
  }
}
