.prompt {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.colors {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.colorRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.colorRow:not(:first-child) {
  margin-top: 32px;
}

.color {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.color:not(:first-child) {
  margin-left: 32px;
}

.profilePictures {
  margin-top: 20px;
  padding-left: 24px;
}

.continueContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 24px 24px 0 24px;
}
