.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.itemContainer {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  /* for ios; https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.itemContainer:not(:first-child) {
  margin-left: -6px;
}

.fadingOutItemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  position: absolute;
  left: 0;
  top: 0;
}

.fadingOutContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: var(--size);
  height: var(--size);
}

.fadingOutItem,
.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  transition: opacity 0.35s ease;
  background: linear-gradient(to bottom right, #c9d6d6, #c5cfd0);
}

.fadingOutItem {
  position: absolute;
  left: 0;
  top: 0;
}

.hereVariant-filled {
  height: var(--size);
  padding: 0 12px;
  opacity: 0%;
  transition: opacity 0.35s ease;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: white;
  color: #160808;
  margin-left: -6px;
  z-index: 50;
}

.hereVariant-floating {
  height: var(--size);
  padding: 0;
  opacity: 0%;
  transition: opacity 0.35s ease;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
  color: white;
  margin-left: 8px;
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.hereVariant-none {
  display: none;
}

.outerContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.outerContainerCenter {
  justify-content: center;
}
