.outer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  transition: opacity 0.35s ease;

  /* for ios; https://gist.github.com/domske/b66047671c780a238b51c51ffde8d3a0 */
  transform: translateZ(0);
}

.inner {
  transition: height 0.35s ease;
}
