.prompt {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.options {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option {
  position: relative;
}

.option:not(:first-child) {
  margin-top: 18px;
}

.optionBackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.optionForeground {
  composes: unstyled from '../../../shared/buttons.module.css';

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px;
}

.checkmarkContainer {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmarkContainerChecked {
  background-color: white;
}

.checkmark {
  display: none;
  composes: icon from '../../../shared/icons.module.css';
  width: 16;
  height: 16;
  background-image: url('../icons/checked.svg');
}

.checkmarkContainerChecked .checkmark {
  display: block;
}

.optionText {
  margin-left: 22px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.25px;
  color: white;
}

.continueContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  padding: 24px 24px 0 24px;
}

.profilePictures {
  margin-top: 20px;
  align-self: center;
}
