.container {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  margin-top: 8px;
}

.emotion,
.addEmotion {
  composes: unstyled from '../../../shared/buttons.module.css';
  padding: 4px 8px;
  border: 1px solid #333;
  border-radius: 10px;
  background: #fbfffc;

  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.15px;
  font-weight: 600;
}

.emotion:hover,
.addEmotion:hover {
  background: #e9f0ee;
}

@media not (prefers-reduced-motion) {
  .emotion,
  .addEmotion {
    transition: background-color 0.3s ease;
  }
}

.emotionDetailsContainer .emotionTitle,
.emotionDetailsContainer .attachedAt {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 24px;
  font-weight: 400;
}

.emotionDetailsCreationHint {
  font-family: 'Roboto Mono', monospace;
  margin-top: 8px;
}

.emotionDetailsDeleteButtonContainer {
  margin-top: 40px;
}

.addContainer {
  min-width: 200px;
}

.addTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 8px;
}

.addButtonContainer {
  margin-top: 20px;
}
