.button {
  cursor: pointer;
  outline: none;
  appearance: none;

  padding: 13px 26px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  border-radius: 100px;
  border: 3px solid #446266;
}

.outline {
  background: transparent;
  color: #446266;
}

.filled {
  background: #446266;
  color: white;
}

.link,
.link-small {
  background: transparent;
  color: #446266;
  border: none;
}

.link-small {
  padding: 0;
}

.button:hover {
  border: 3px solid #708f94;
}

.filled:hover {
  background: #708f94;
}

.link:hover,
.link-small:hover {
  color: #708f94;
  border: none;
}

.button:active {
  border: 3px solid #1a383c;
}

.filled:active {
  background: #1a383c;
}

.link:active,
.link-small:active {
  color: #1a383c;
  border: none;
}

.button:focus-visible {
  border: 3px solid #708f94;
}

.link:focus-visible,
.link-small:focus-visible {
  border: none;
  outline: 3px solid #708f94;
}

.button:disabled {
  border: 3px solid #c8cdd0;
  color: #3f484a;
  cursor: not-allowed;
}

.filled:disabled {
  background: #c8cdd0;
}

.link:disabled,
.link-small:disabled {
  border: none;
  color: #3f484a;
}

@media not (prefers-reduced-motion) {
  .button {
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  }
}
