.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.enabled {
  cursor: pointer;
  opacity: 100%;
}

.disabled {
  cursor: not-allowed;
  opacity: 38%;
}

@media not (prefers-reduced-motion) {
  .container {
    transition: opacity 0.3s ease-in-out;
  }
}

.style_whiteWide,
.style_whiteWideRound {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
  justify-content: space-between;
}

.input {
  flex: 0 0 16px;
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
  background: no-repeat center center;
  background-size: 100% 100%;
  appearance: none;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  content: '';
  cursor: pointer;
}

.input:checked {
  background-image: url('./icons/checkbox-checked.svg');
}

.style_whiteWideRound .input:checked {
  background-image: url('./icons/checkbox-checked-round.svg');
}

.input:not(:checked) {
  background-image: url('./icons/checkbox-unchecked.svg');
}

.style_whiteWideRound .input:not(:checked) {
  background-image: url('./icons/checkbox-unchecked-round.svg');
}

.input:disabled {
  cursor: not-allowed;
}

.label {
  flex: 1 1 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  margin-left: 8px;
  color: black;
}

.style_whiteSmallText .label {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  margin: 0 0 0 12px;
}

.style_whiteWide .label,
.style_whiteWideRound .label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  margin: 0 12px 0 0;
}

.enabled .label {
  cursor: pointer;
}

.disabled .label {
  cursor: not-allowed;
}

.style_white .label,
.style_whiteSmallText .label {
  color: white;
}
