.button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinning {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
