.iconGoogle {
  composes: icon from '../../../../../shared/icons.module.css';
  width: 18px;
  height: 19px;
  background-image: url('../icons/google.svg');
  margin-right: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.iconSignInWithApple {
  composes: icon from '../../../../../shared/icons.module.css';
  width: 18px;
  height: 19px;
  background-image: url('../icons/apple.svg');
  margin-right: 12px;
  padding-left: 1px;
  padding-right: 1px;
}

.iconDirect,
.iconDev {
  composes: icon from '../../../../../shared/icons.module.css';
  width: 20px;
  height: 18px;
  background-image: url('../icons/email.svg');
  margin-right: 12px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}
