.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  width: 100%;
  max-width: 390px;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
}

.download {
  composes: icon from '../../shared/icons.module.css';
  align-self: center;
  width: 68px;
  height: 68px;
  background-image: url('./icons/download.svg');
  margin-bottom: 24px;
}

.title {
  text-align: center;
  max-width: 290px;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 32px;
  color: white;
  margin-bottom: 48px;
}
