.container {
  background: #191c1d;
  min-height: 100vh; /* swapped to inner height in js */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.content {
  width: 100%;
  max-width: 440px;
  padding: 0 40px;
}

.closeButtonContainer {
  position: absolute;
  top: min(60px, 5vh);
  left: 0;
  width: 100%;
  z-index: 1;
}

.closeButtonInnerContainer {
  width: 100%;
  max-width: 440px;
  margin: 0 auto;
  padding-left: 40px;
}

.closeIcon {
  composes: icon from '../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('./icons/close.svg');
}

.bigLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 64px;
  margin-left: 16px;
}

.bigLinkContainer:not(:first-child) {
  margin-top: 32px;
}

.bigLink {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  color: white;
}

.smallLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 16px;
}

.smallLinkContainer:not(:first-child) {
  margin-top: 16px;
}

.smallLink {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  text-decoration: none;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: white;
}

.deleteConfirm {
  width: 100%;
  max-width: 440px;
  padding-top: 24px;
  margin: 0 auto;
  background: #eff0f6;
  border-radius: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  text-align: center;
}

.deleteConfirmTitle {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #160808;
  margin-bottom: 12px;
  padding: 0 24px;
}

.deleteConfirmBody {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #666060;
  padding: 0 24px;
}

.deleteConfirmButtons {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.deleteConfirmButton {
  composes: unstyled from '../../shared/buttons.module.css';
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: #446266;
  border-top: 1px solid #dbd7d7;
}

.deleteConfirmButton:hover {
  background: rgba(0, 0, 0, 0.25);
}

.deleteConfirmButton:disabled {
  color: #3f484a;
  cursor: not-allowed;
}

@media not (prefers-reduced-motion) {
  .deleteConfirmButton:hover {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}

.deleteConfirmDeleteButton {
  font-weight: 600;
}

.inviteTextURL {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

.inviteUpsellText {
  margin-top: 24px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.15px;
  font-weight: 400;
}

.inviteUpsellLink {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
