.container {
  width: 100%;
  min-height: 100vh; /* swapped to inner height in js */
}

.backgroundImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.content {
  max-width: 440px;
  max-height: 875px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaf0ff;
  margin-bottom: 5px;
}

.instructor {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(245, 245, 245, 0.7);
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 2;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.close {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.closeIcon {
  composes: icon from '../../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('../icons/close.svg');
}

@media screen and (max-height: 724px) {
  .content {
    justify-content: center;
  }
}
