.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 24px 24px 24px;
  width: 100%;
  max-width: 438px;
  max-height: 684px;
  height: 100%;
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.close {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.closeIcon {
  composes: icon from '../../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('../icons/close.svg');
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.title {
  max-width: 260px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  color: white;
}

.titleStreakSpacer {
  width: 100%;
  flex-shrink: 1;
  flex-basis: 41px;
  min-height: 0;
}

.streak {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.streakNumber {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 100px;
  line-height: 100%;
  color: white;
}

.streakUnit {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 51px;
  color: white;
}

.streakReviewSpacer {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 80px;
}

.reviewText {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  max-width: 244px;
  width: 100%;
  color: white;
  margin-bottom: 32px;
}

.reviewButtons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.reviewUp {
  margin-right: 32px;
}

.reviewUp,
.reviewDown {
  composes: unstyled from '../../../shared/buttons.module.css';
  width: 32px;
  height: 32px;
  opacity: 50%;
}

.reviewActive {
  opacity: 100%;
}

.reviewUp {
  background-image: url('../icons/reviewUp.svg');
}

.reviewDown {
  background-image: url('../icons/reviewUp.svg');
  transform: scale(-1);
}

.buttonContainer {
  width: 100%;
}

.button {
  composes: unstyled from '../../../shared/buttons.module.css';
  text-decoration: none;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 56px;
  width: 100%;
  background: #446266;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100px;

  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
}
