.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.containerScroll {
  position: relative;
  width: 100%;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px;
  width: 100%;
  max-width: 390px;
  height: 100%;
}

.primaryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.shareContainer {
  display: grid;
  grid-template: 1fr / 1fr;
}

.shareBackground {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shareBackground img {
  border-radius: 8px;
}

.shareForeground {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.shareInfo {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.shareTitle {
  color: #eaeaeb;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.6px;
  margin-bottom: 2px;
}

.shareInstructor {
  color: #c8cdd0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.shareControls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px;
}

.shareControls > *:not(:first-child) {
  margin-left: 9px; /* 5px from button itself, but 2px is on button in figma */
}

.iconShare {
  composes: icon from '../../../shared/icons.module.css';
  width: 17px;
  height: 20px;
  background-image: url('../icons/share.svg');
}

.iconFullHeart {
  composes: icon from '../../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('../icons/fullHeart.svg');
}

.iconEmptyHeart {
  composes: icon from '../../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('../icons/emptyHeart.svg');
}

.feedbackContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.feedbackTitle {
  color: #eaeaeb;
  text-align: start;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.25px;
  margin-bottom: 12px;
}

.controlsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
