.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.contentOuter {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.content {
  max-width: 480px;
  margin: 0 auto;
  width: 100%;
  padding: 0 40px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.close {
  composes: unstyled from '../../../../shared/buttons.module.css';
}

.closeButtonContainer {
  position: absolute;
  top: 16px;
  left: 0;
  width: 100%;
  z-index: 3;
}

.closeButtonInnerContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  padding-right: 16px;
}

.closeIcon {
  composes: icon from '../../../../shared/icons.module.css';
  width: 24px;
  height: 24px;
  background-image: url('./icons/close.svg');
}

.foregroundImageContainer {
  align-self: center;
  width: 189px;
  height: 189px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.imageCaption {
  align-self: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #f2f2f3;
}

.title {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.message {
  margin-top: 8px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #f2f2f3;
}

.ctaContainer {
  margin-top: 28px;
}

.swappedPhone {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.swappedSubtext {
  margin-top: 6px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.25px;
  text-align: center;
  color: #f2f2f3;

  animation: wiggle 10s infinite;
}

.doneContainer {
  margin-top: 20px;
}

@keyframes wiggle {
  0% {
    transform: translateX(0%);
  }

  5% {
    transform: translateX(-10%);
  }

  15% {
    transform: translateX(10%);
  }

  20% {
    transform: translateX(0%);
  }
}
