.container {
  display: grid;
  grid-template: 1fr / 1fr;
}

.background {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  z-index: -2;
}
.belowImageBackground {
  flex-grow: 1;
  background: linear-gradient(180deg, #14191c 0%, #010101 100%);
}

.backgroundOverlay {
  z-index: -1;
  position: relative;
  grid-area: 1 / 1 / 1 / 1;
  background: linear-gradient(180deg, #14191c00 0%, #14191c80 30%, #14191cff 100%);
}

.content {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.closeButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 16px;
  padding-right: 16px;
  width: 100%;
}

.closeIcon {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('../../../../assets/close-white.svg');
}

.contentInner {
  max-width: 440px;
  width: 100%;
  padding: 0 24px 32px 24px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 39px;
  text-align: left;
  color: #ffffff;
}

.valueProps {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
}

.valueProps > *:not(:last-child) {
  margin-bottom: 8px;
}

.valueProp {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}

.valuePropIcon {
  margin-right: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 17px;
  line-height: 17px;
}

.valuePropText {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #eaeaeb;
}

.iconBrowse {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./assets/browse.svg');
  width: 20px;
  height: 20px;
}

.iconClock {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./assets/clock.svg');
  width: 20px;
  height: 20px;
}

.iconSeries {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./assets/series.svg');
  width: 20px;
  height: 22px;
}

.iconSheet {
  composes: icon from '../../../../shared/icons.module.css';
  background-image: url('./assets/sheet.svg');
  width: 22px;
  height: 24px;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 40px;
}

.offers2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.offers2 > * {
  flex-basis: calc(50% - 6px);
}

.offer {
  border: 1px solid #eaeaeb;
  cursor: pointer;
  outline: none;
  appearance: none;

  border-radius: 10px;
  padding: 12px 24px;
  background: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.offerActive {
  background: #eaeaeb;
}

.offerPrice {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #eaeaeb;
}

.offerActive .offerPrice {
  color: #191c1d;
}

.offerFrequency {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0.15px;
  color: #c8cdd0;
}

.offerActive .offerFrequency {
  color: #383838;
}

.subscribeContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-top: 24px;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.disclaimerTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color: #c8cdd0;
}

.disclaimerBody {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #c8cdd0;
}

.redirectingOverlay {
  grid-area: 1 / 1 / 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000099;
}
