.container {
  position: relative;
  padding: 0 24px;
  height: 80px;
  background: #446266;
}

.logoContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoLink {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-right: 4px;
}

.wordmark {
  composes: icon from '../../../shared/icons.module.css';
  width: 80px;
  height: 19px;
  background-image: url('../../../assets/Oseh_Wordmark_White.svg');
}

.brandmark {
  composes: icon from '../../../shared/icons.module.css';
  width: 37px;
  height: 37px;
  background-image: url('../../../assets/Oseh_Brandmark_White.svg');
}

.hamburgerContainer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburgerButton {
  composes: unstyled from '../../../shared/buttons.module.css';
}

.toggle {
  composes: icon from '../../../shared/icons.module.css';
  width: 16px;
  height: 16px;
  opacity: 50%;
}

.toggleOpen {
  background-image: url('./icons/toggle-open.svg');
}

.toggleClose {
  background-image: url('./icons/toggle-close.svg');
}
